.Chat {
  border: 1px solid #6b6b6b;
}

.Chat-header {
  border-bottom: 1px solid #6b6b6b;
  padding: 16px;
}

.Chat-body {
  border-bottom: 1px solid #6b6b6b;
  padding: 16px 8px;
  min-height: 200px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Chat-message {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #1c5ece;
  margin-bottom: 16px;
}

.Chat-message--out {
  border-color: #8bce4f;
  align-self: flex-end;
}

.Chat-footer {
  padding: 16px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}