.ChatDemo-AppBanner {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
    padding: 16px;
    background-color: #417fda;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
  }
}

.ChatDemo-FriendList_wrapper--hidden {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}